<!DOCTYPE html>
<meta charset="UTF-8">
<html>
        <head>
                <title>Light Up</title>
                <meta name="description" content="">
                <meta name="author" content="">

                <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

                <link rel="stylesheet" href="static/css/normalize.css">
                <link rel="stylesheet" href="static/css/skeleton.css">
                <link rel="icon" type="image/png" href="static/images/favicon.png">
            <script
                    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
                    crossorigin="anonymous"></script>
            <script src="static/js/main.js"></script>
		<script>
			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
        </head>
        <body>
                {% block content %}
                {% endblock %}
        </body>
</html>

