{% extends "header.html" %}
{% block content %}
	<script type="text/javascript">
		$(function() {
			$('#lighton').click(function() {
				$('#light').attr("src","static/images/lampon.png");
			
			});
			$('#lightoff').click(function() {
				$('#light').attr("src","static/images/lampoff.png");
			});
		});
	</script>
	<div class="container">	
		<div class="row">
			<div class="two-thirds columns">
				<h2>Lights on RPi</h2>
                {% for pin in data["relay_pins"] %}
				{% if data["session"][pin] == 0 %}
					<img src="static/images/lampoff.png" id="light"></p>
					<input type="button" onclick="window.location='/light/?set=on&id={{ pin }}';" value="Turn on"/ id="lighton">
				{% else %}
					<img src="static/images/lampon.png" id="light"></p>
					<input type="button" onclick="window.location='/light/?set=off&id={{ pin }}';" value="Turn off"/ id="lightoff">
				{% endif %}
                {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
